
@media print{

  @page {
    size: a4 landscape;
    width: 100%;
    margin-left:80px;
  }

  html,body{margin:0;padding:0;font-size: 10pt;}

  .table>thead>tr>td{
      vertical-align: middle !important;
      text-align: center;
      padding: 1px;
  }

  .table>tbody>tr>td{
      padding: 1px;
  }

  
.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #4285f4 !important;
}

.border-secondary {
  border-color: #878787 !important;
}

.border-success {
  border-color: #34a853 !important;
}

.border-info {
  border-color: #4285f4 !important;
}

.border-warning {
  border-color: #fbbc05 !important;
}

.border-danger {
  border-color: #ea4335 !important;
}

.border-light {
  border-color: #FFFFFF !important;
}

.border-dark {
  border-color: #3d3c3c !important;
}

.border-grey {
  border-color: #cccccc !important;
}

.border-white {
  border-color: #FFFFFF !important;
}

}




