
@media print{

  @page {
    size: a3 landscape;
    width: 100%;
    margin: 5px;
  }

  html,body{margin:0;padding:0;font-size: 10pt;}

  .table2>thead>tr>td{
      vertical-align: middle !important;
  }

}




