         .imgMenu {
            height:80%;
         }
         .midBody {
            height: calc(100vh - 155px);
         }
         .sysNameHolder {
            height: 60px;
            text-align: center;
            align-items: center;
            margin:0;
         }
         .sysName {
            font-family:Arial;
            font-size:16pt;
            font-weight:500;
            display:inline-block;
            vertical-align:middle;
            line-height:60px;
            margin:0;
         }
         .systemMenu {
            height:100%;
            margin:0;
            padding:0;
            width:16.66%;
            background:#152434;
            float:left;
         }
         .subLabel {
            background:#222;
            padding:4px;
         }
         .pngIcons{
            width:35px;
            height:35px;
            margin-right:10px;
         }


         .sidenav {
             height: 100%;
             width: 0;
             position: fixed;
             z-index: 1;
             top: 0;
             left: 0;
             background-color: #111;
             overflow-x: hidden;
             transition: 0.5s;
             padding-top: 60px;
         }
         .sidenav a {
             padding: 2px;
             text-decoration: none;
             font-size: 10pt;
             color: #aaa;
             display:block;
             transition: 0.5s;
         }
         .sidenav a:hover {
             color: #f1f1f1;
         }

         .sidenav .closebtn {
             position: absolute;
             top: 0;
             right: 0;
             font-size: 10px;
             margin-left: 15px;
             color:#fff;
         }
         .sidenav .subMenu:hover {
            border-left: 3px solid white;
         }


